[submodule "libdd"]
	path = lib
	url = https://github.com/daidai21/libdd.git
[submodule "template/JavaBizProjectTemplate"]
	path = template/Java.project
	url = https://github.com/daidai21/JavaBizProjectTemplate.git
[submodule "reuse/java/src/main/java/com/framework_tool_jar"]
	path = reuse/java/src/main/java/com/framework_tool_jar
	url = https://github.com/daidai21/framework_tool_jar
