.vscode
temp.*
temp*.py
temp*.h
temp*.c
temp*.cc
temp*.md
temp*.sh
*.temp
*.out
*.pyc
__pycache__/
push.sh
third_party/
# TODO
tmp*.*
*compile.sh
*.exe
*.class
.DS_Store

# For java
.idea
*.jar
target/
lib/
temp.txt
*Temp.java
*temp.java
.classpath
reuse/java/bin/*
.settings/
