.vscode
temp.*
temp*.py
temp*.h
temp*.c
temp*.cc
temp*.md
temp*.sh
*.temp
*.out
*.pyc
__pycache__/
push.sh
third_party/
tmp*.*
*compile.sh
*.exe
*.class
.DS_Store
*.temp.log
*.tmp.log

# For java
.idea
*.jar
target/
lib/
temp.txt
2temp.txt
1temp.txt
*Temp.java
*temp.java
.classpath
reuse/java/bin/*
.settings/

# For golang
!template/golang.project/third_party/
tempCodeRunnerFile.java # For vscode
java_scala_mixture.iml
reuse/golang/example_.go
